<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cookeisclickers">

    <application
        android:allowBackup="true"
        android:label="CookeisClickers"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Главный экран -->
        <activity
            android:name=".Controller.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Магазин -->
        <activity
            android:name=".Controller.ShopActivity"
            android:exported="false"/>


        <activity android:name=".Controller.SecondLevelActivity" android:exported="false" />
        <activity android:name=".Controller.Level2ShopActivity" android:exported="false" />
    </application>

</manifest>